#card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 250px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
    z-index: 2;
}

#card-content {
    padding: 12px 44px;
}

#card-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}

#keluar {
    width: 100px;
}

#masuk {
    width: 100px;
}

#form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}

#user-password {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}

#user-email {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}
